:root {
 --brand-color: #4D5AE5;
 --text-color-primary: #434455;
 --text-color-secondary: #2E2F42;
 --color-cornflower: #E7E9FC;
 --color-white: #ffffff;
 --color-ocean: #404BBF;
 --color-cloud: #F4F4FD;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white)
}

header {
    background-color: var(--color-white);
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-cornflower);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
    
}

.nav-container {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    flex-grow: 1;
}

.header-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.logo  {
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-header {
    color: var(--text-color-secondary);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    padding: 24px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;

}
.nav-link {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

 .nav-link:hover, .nav-link:focus, .nav-link.current {
    color: var(--color-ocean);
    
    
    
}

.contact-link  {
    color: var(--text-color-primary);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.contact-link:hover, .contact-link:focus {
    color: var(--color-ocean);
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-section {
    background-color: var(--text-color-secondary);
    padding: 188px 0;
}

.main-section-title {
    color: var(--color-white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
}

.main-button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
}

.main-button:hover, .main-button:focus {
    background-color: var(--color-ocean);
    font-family: Roboto;
    color: var(--color-white);
}

.benefit-container {
    display: flex;
    justify-content: space-between;
}
.benefit-section {
    padding: 120px 0;
}
.benefit-title {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.benefit-descr {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.benefit-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.benefit-li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-basis: calc((1176px - 72px)/4);
}
.work-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}
.work-section {
    padding: 120px 0;
    padding-top: 0;
}

.work-title {
    color: var(--text-color-secondary);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-section {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.team-card {
    background-color: var(--color-white);
    
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-title {
    color: var(--text-color-secondary);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.teammate-name {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-name-container {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.teammate-position {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


footer {
    background-color: var(--text-color-secondary);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--color-cloud);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.footer-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cornflower);
    margin-top: 16px;
}

.poftfolio-section{
    padding-top: 96px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    cursor: pointer;
    padding: 12px 24px;
}

.portfolio-btn:hover,  .portfolio-btn:focus {
    font-family: 'Roboto', sans-serif;
    background: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.projecr-container {
    padding-bottom: 32px;
}
.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}
.project-title {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.project-card {
    flex-basis: calc((1440px - 48px) / 4);
}

.project-descr {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.project-img {
    margin-bottom: 32px;
    margin-right: 0;
}

