:root {
 --brand-color: #4D5AE5;
 --text-color-primary: #434455;
 --text-color-secondary: #2E2F42;
 --color-cornflower: #E7E9FC;
 --color-white: #ffffff;
 --color-ocean: #404BBF;
 --color-cloud: #F4F4FD;
 --color-green: #31D0AA;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white)
}

header {
    background-color: var(--color-white);
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-cornflower);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
    
}

.nav-container {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
}

.logo  {
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
    
}

.logo-header {
    color: var(--text-color-secondary);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.nav-link {
    display: block;
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

 .nav-link:hover, .nav-link:focus, .nav-link.current {
    color: var(--color-ocean);
    
    
    
}

.contact-link  {
    color: var(--text-color-primary);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.contact-link:hover, .contact-link:focus {
    color: var(--color-ocean);
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),  url(../images/people-office.jpg);
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
}


.main-section-title {
    color: var(--color-white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
}

.main-button {
    font-family: 'Roboto', sans-serif;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
}

.main-button:hover, .main-button:focus {
    background-color: var(--color-ocean);
    font-family: Roboto;
    color: var(--color-white);
}


.benefit-section {
    padding: 120px 0;
}
.benefit-title {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-top: 8px;

}

.benefit-descr {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.benefit-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.benefit-li {
    flex-basis: calc((1158px - 72px) / 4);
}
.work-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

}
.work-section {
    padding: 120px 0;
    padding-top: 0;
}

.work-title {
    color: var(--text-color-secondary);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-section {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.team-card {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}



.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-title {
    color: var(--text-color-secondary);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.teammate-name {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-name-container {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.teammate-position {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


footer {
    background-color: var(--text-color-secondary);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--color-cloud);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.footer-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cornflower);
    margin-top: 16px;
}

.poftfolio-section{
    
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    cursor: pointer;
    padding: 12px 24px;
}

.portfolio-btn:hover,  .portfolio-btn:focus {
    font-family: 'Roboto', sans-serif;
    background: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projecr-container {
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 16px;
    border: 1px solid var(--color-cornflower);
    border-top: 0;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.project-title {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.project-card {
    flex-basis: calc( (100% - 48px) / 3);
    
}

.project-link{
    display: block;

}

.project-link:hover, .project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-descr {
    color: var(--text-color-primary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.icon-rect{
    background-color: var(--color-cloud);
    border-radius: 4px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit-svg {
    width: 61px;
    height: 64px;
    fill: var(--text-color-secondary)
    
}

.team-social {
    fill: var(--color-white);
    width: 16px;
    height: 16px;
}





.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-social-li {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: var(--brand-color);
    padding: 12px;
}

.team-social-link:hover, .team-social-link:focus {
    background-color: var(--color-ocean);
    border: none;
}

.customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-rect {
    color: #8E8F99;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-rect:hover, .customers-rect:focus {
    border: 1px solid var(--color-ocean);
    color: var(--color-ocean);
} 


.customers-svg {
    fill:currentColor;
    width: 104px;
   height: 56px;

}




.customers-title {
    color: var(--text-color-secondary);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer-header {
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}



.footer-container {
    display: flex;
    gap: 120px;
}

.footer-social {
    width: 40px;
    height: 40px;
    border: 2px solid none;
    border-radius: 50%;
    background-color: #434455;
    padding: 12px;
}

.footer-social:hover, .footer-social:focus {
    background-color: var(--color-green);
    border: none;
}
.footer-icon {
    fill: var(--color-cloud);
    width: 16px;
    height: 16px;
}

.footer-social-container {
    display: flex;
    gap: 16px;
}